:root {
  --h5-c-primary: #00aba9;

  --h5-c-bg: rgba(248, 248, 248);
  --h5-c-text: #000;

  --h5-c-card-bg: #fff;
  --h5-c-card-border: rgba(0, 0, 0, var(--un-border-opacity, 1));
}

html.dark {
  color-scheme: dark;

  --h5-c-bg: #333;
  --h5-c-text: #fff;

  --h5-c-card-bg: black;
  --h5-c-card-border: rgba(255, 255, 255, var(--un-border-opacity, 1));
}

:root {
  --anime-card-width: min(calc((100vw - 40px) / 3), 150px);
  --anime-card-height: calc(var(--anime-card-width) * 1.4);
}

@media (min-width: 768px) {
  :root {
    --anime-card-width: calc(500px / 4);
  }
}
