:root {
  --h5-c-primary: #00aba9;

  --h5-c-bg: transparent;
  --h5-c-text: #000;

  --h5-c-card-bg: #fff;
  --h5-c-card-border: black;
}

html.dark {
  color-scheme: dark;

  --h5-c-bg: #121212;
  --h5-c-text: #fff;

  --h5-c-card-bg: black;
  --h5-c-card-border: white;
}
